meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Lógica Proposicional
meta(meta name="description" content="Este material formativo denominado Lógica Proposicional introduce al aprendiz, en las nociones elementales de los algoritmos, estructuras de programación y herramientas que permiten el diálogo del usuario con la máquina, que le permitirán entender el funcionamiento interno de un programa, así como diseñarlos, progresando de manera fácil y constante.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")