.container#intro

    .header-ecored
        h1 Introducción

    .card.shadow
        img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")
        .card-body
            p Este material formativo denominado Lógica Proposicional introduce al aprendiz, en las nociones elementales de los algoritmos, estructuras de programación y herramientas que permiten el diálogo del usuario con la máquina, que le permitirán entender el funcionamiento interno de un programa, así como diseñarlos, progresando de manera fácil y constante.