.container#diseno

    .header-ecored
        h1 1. Diseño y construcción de algoritmos

    .jumbotron.bg-white

        .subtitulo-guion
            h2 1.1 Conceptos
        
        p Un algoritmo es una serie de instrucciones, que ejecutadas correctamente obtienen el resultado esperado, la palabra se origina del nombre del matemático Al Khawarizmi.

        .subtitulo-guion.mt-6
            h2 1.2 Pasos para el diseño de un algoritmo

        .list.align-items-center
            .list__item
                .list__item__bulletNumber
                    span 1
            .list__txt
                p.mb-0 Analizar el problema.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 2
            .list__txt
                p.mb-0 Diseñar el algoritmo.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 3
            .list__txt
                p.mb-0 Expresar el algoritmo.
        .list.align-items-center.mt-3
            .list__item
                .list__item__bulletNumber
                    span 4
            .list__txt
                p.mb-0 Ejecución y validación.
        
        p.mt-4 En el siguiente material se explican de forma detallada los pasos para el diseño de un algoritmo:

        .subtitulo-guion.mt-6
            h2 1.3 Representación de los algoritmos
        
        p Los algoritmos se representan de dos formas: mediante símbolos en diagramas de flujo y en forma textual denominado pseudocódigo.

        .subtitulo-guion.mt-6
            h2 1.4 Estructuras de programación
        
        p Un algoritmo preciso, definido y finito, se podrá escribir directamente en un lenguaje de programación como Java, C#, PHP, Python, Ruby.

        .header-arrow.my-5
            h3.text-center Estimado estudiante, lo invitamos a leer el siguiente PDF:

        

        .row.p-4.bg-color1.rounded
            .col-12
                p Profundice en la programación estructurada, Capítulo 4, Págs. 55-61: Joyanes Aguilar, L. (2003).
                
                p Fundamentos de programación: libro de problemas. Algoritmos, estructuras de datos y objetos (2a. ed.). McGraw-Hill España.

                section
                    .row.justify-content-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/50047" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Biblioteca SENA