.container#herramientas

    .header-ecored#top
        h1 3. Herramientas para creación y prueba de algoritmos
    
    br#dfd

    .jumbotron.bg-white.shadow

        .subtitulo-guion
            h2 3.1 DFD
        
        p DFD es un editor de diagramas de flujo con el cual puede dar forma gráfica a un algoritmo, ejecutarlo y depurarlo.

        p Lo invitamos a construir los algoritmos que se proponen en el siguiente laboratorio:

        .row.mt-5
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="media/programa/FreeDFD.zip" target="_blank")
                        .anchorBtn__number
                            h3 A1
                        .anchorBtn__body
                            p Anexo 1. Descarga de software DFD
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C1")
                        .anchorBtn__number
                            h3 V1
                        .anchorBtn__body
                            p Instalación y uso herramienta DFD
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C2")
                        .anchorBtn__number
                            h3 V2
                        .anchorBtn__body
                            p Uso objeto Decisión
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C3")
                        .anchorBtn__number
                            h3 V3
                        .anchorBtn__body
                            p Uso objeto ​ciclo Para
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C4")
                        .anchorBtn__number
                            h3 V4
                        .anchorBtn__body
                            p Uso objeto ​ciclo Mientras
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C5")
                        .anchorBtn__number
                            h3 V5
                        .anchorBtn__body
                            p Uso objeto ​subprogramas ​y variables tipo ​Arreglo
    br#C1
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V1
            .anchorHeader__body
                p Instalación y uso herramienta DFD
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nYkAhlJCKUg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C2
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V2
            .anchorHeader__body
                p Uso objeto Decisión
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/3hEqYVEsnCE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C3
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V3
            .anchorHeader__body
                p Uso objeto ​ciclo Para
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/WhtO9gEI_o8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C4
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V4
            .anchorHeader__body
                p Uso objeto ​ciclo Mientras
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VgbshaILhCg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C5
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V5
            .anchorHeader__body
                p Uso objeto ​subprogramas ​y variables tipo ​Arreglo
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RTfDSou5wB8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#pasos1

    .jumbotron.bg-white.shadow#top1

        .subtitulo-guion
            h2 3.2 Pasos para el diseño de un algoritmo
        
        p La herramienta LPP emplea pseudocódigo, cuya función principal es que el programador se centre en los aspectos lógicos de la programación, dejando la parte técnica para cuando se vea la sintaxis de un lenguaje de programación verdadero.

        p Para diseñar, construir e implementar algoritmos expresados en pseudocódigo y aplicar las estructuras de programación, desarrolle los algoritmos del siguiente material:

        .row.mt-5
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="media/programa/software_lpp.zip" target="_blank")
                        .anchorBtn__number
                            h3 A2
                        .anchorBtn__body
                            p Anexo 2. Descarga de software LPP
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C6")
                        .anchorBtn__number
                            h3 V1
                        .anchorBtn__body
                            p Instalando la ​herramienta LPP
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C7")
                        .anchorBtn__number
                            h3 V2
                        .anchorBtn__body
                            p Conociendo el Entorno
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C8")
                        .anchorBtn__number
                            h3 V3
                        .anchorBtn__body
                            p Uso estructura SI
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C9")
                        .anchorBtn__number
                            h3 V4
                        .anchorBtn__body
                            p Uso estructura CASO
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C10")
                        .anchorBtn__number
                            h3 V5
                        .anchorBtn__body
                            p Uso ciclo Para
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C11")
                        .anchorBtn__number
                            h3 V6
                        .anchorBtn__body
                            p Uso ciclo Repita Hasta
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C12")
                        .anchorBtn__number
                            h3 V7
                        .anchorBtn__body
                            p Uso de Funciones
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C13")
                        .anchorBtn__number
                            h3 V8
                        .anchorBtn__body
                            p Uso de Procedimientos
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C14")
                        .anchorBtn__number
                            h3 V9
                        .anchorBtn__body
                            p Uso variables tipo Arreglo
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C15")
                        .anchorBtn__number
                            h3 V10
                        .anchorBtn__body
                            p Ejecutando paso a paso y mostrando valores variables
    br#C6
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V1
            .anchorHeader__body
                p Instalando la ​herramienta LPP
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TOc52KkZ-4Y', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C7
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V2
            .anchorHeader__body
                p ​Conociendo el Entorno
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/upCRn-D4d_Q', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C8
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V3
            .anchorHeader__body
                p Uso estructura SI
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qW1A5Mb7m9A', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C9
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V4
            .anchorHeader__body
                p Uso estructura CASO
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/I_-C3Y_twnw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C10
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V5
            .anchorHeader__body
                p Uso ciclo Para
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RxZxkhYi4IQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C11
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V6
            .anchorHeader__body
                p Uso ciclo Repita Hasta
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KsT6C06lXfs', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C12
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V7
            .anchorHeader__body
                p Uso de Funciones
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/oxzADzRsTGI', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C13
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V8
            .anchorHeader__body
                p Uso de Procedimientos
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xv7QRH4fiyE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C14
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V9
            .anchorHeader__body
                p Uso variables tipo Arreglo
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/de6Yqhghnmg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    br#C15
    .jumbotron.bg-white.shadow
        .anchorHeader
            .anchorHeader__number
                h3 V10
            .anchorHeader__body
                p Ejecutando paso a paso y mostrando valores variables
                .anchorHeader__btn
                    <a href="#top1">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-10
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wGTIG0RoNmo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#python
    
    .jumbotron.bg-white.shadow

        .subtitulo-guion
            h2 3.3 Python
        
        p Python es un software libre, lenguaje orientado a objetos, comprensible y de fácil uso.

        .row.p-4.bg-color1.rounded
            .col-12
                p #[b Consulte la biblioteca digital]

                p Leer sobre el proceso de instalación de Python. Capítulo 3, Págs. 25-37. Hinojosa Gutiérrez, Á. (2015). Python paso a paso. RA-MA Editorial.

                p Analice el paso a paso para comenzar a programar. Capítulo 4, Págs. 39-46. Hinojosa Gutiérrez, Á. (2015). Python paso a paso. RA-MA Editorial.

                p Realice los ejercicios propuestos. Capítulo 4, Pág. 47 Hinojosa Gutiérrez, Á. (2015). Python paso a paso. RA-MA Editorial.

                section
                    .row.justify-content-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/107213" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Biblioteca SENA