.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Joyanes Aguilar, L. (2003). Fundamentos de programación: libro de problemas. Algoritmos, estructuras de datos y objetos (2a. ed.). McGraw-Hill España. Capítulo 4, Págs. 55-61.
                    td Web
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/50047", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Castillo Suazo, R. (2001). Programación en LPP. PSeInt
                    td Web
                    td 
                        a(href="https://docplayer.es/63199938-Programacion-en-pseint-por-lic-rommel-castillo-suazo-original-para-lpp-implementado-en-pseint-por-alejandro-caro.html", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver
                tr
                    td Hinojosa Gutiérrez, Á. (2015). Python paso a paso. RA-MA Editorial. Capítulo 3, Págs. 25-37 y Capítulo 4, Págs. 39-47
                    td Web
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/107213", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver