include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Corona, M. (2011). Diseño de algoritmos y su codificación en lenguaje C. McGraw-Hill Interamericana. Tomado de:", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=345")

        +referenciaItem("Definición.DE (2020).Definición de Algoritmo.", "https://definicion.de/algoritmo/")

        +referenciaItem("Definición.DE (2020).Definición de seudocódigo.", "https://definicion.de/pseudocodigo/")

        +referenciaItem("Desarrolloweb.com. (2003). Qué es Python.", "https://desarrolloweb.com/articulos/1325.php")

        +referenciaItem("Hinojosa Gutiérrez, Á. (2015). Python paso a paso. RA-MA Editorial.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/107213")

        +referenciaItem("Rohaut, S. E. F.-, & Ebel, F. (2019). Algoritmia técnica fundamentales de programación ejemplos.", "https://www-eni-training-com.bdigital.sena.edu.co/portal/client/mediabook/home")